<ion-toolbar id="preguntas-toolbar">
  <ion-segment #preguntas scrollable [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button id="segment-0" type="icon-bottom" value="0" (click)="segmentSelected(0)" class="tab" [disabled]="isDisabledTab[0]">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img [src]="'./assets/img/accesibilidad.png'">
        </ion-thumbnail>
        <ion-label>1. {{'accesibilidad'| translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button id="segment-1" type="icon-bottom" value="1" (click)="segmentSelected(1)" class="tab" [disabled]="isDisabledTab[1]">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img [src]="'./assets/img/movilidad.png'">
        </ion-thumbnail>
        <ion-label>2. {{'movilidad'| translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button id="segment-2" type="icon-bottom" value="2" (click)="segmentSelected(2)" class="tab" [disabled]="isDisabledTab[2]">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img [src]="'./assets/img/apertura.png'">
        </ion-thumbnail>
        <ion-label>3. {{'apertura'| translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button id="segment-3" type="icon-bottom" value="3" (click)="segmentSelected(3)" class="tab" [disabled]="isDisabledTab[3]">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img [src]="'./assets/img/penetrabilidad.png'">
        </ion-thumbnail>
        <ion-label>4. {{'penetrabilidad'| translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button id="segment-4" type="icon-bottom" value="4" (click)="segmentSelected(4)" class="tab" [disabled]="isDisabledTab[4]">
      <ion-item class="tab-option">
        <ion-thumbnail slot="start" class="tab-img">
          <img [src]="'./assets/img/medios.png'">
        </ion-thumbnail>
        <ion-label>5. {{'mediosAereos'| translate}}</ion-label>
      </ion-item>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col sizeMd="12" sizeSm="12" sizeXs="12">
        <swiper #swiperRef (swiper)="setSwiperInstance($event)" direction="horizontal" [allowTouchMove]="false"
           [navigation]="false" [pagination]="false" [autoHeight]="false">
          <ng-template swiperSlide>
              <accesibilidad (onClickNext)="next($event)" (onInputChange)="updateAccesibilidad($event)"></accesibilidad>
            </ng-template>
          <ng-template swiperSlide>
              <movilidad (onClickNext)="next($event)" (onClickPrev)="prev($event)" (onInputChange)="updateMovilidad($event)"></movilidad>
          </ng-template>
          <ng-template swiperSlide>
              <apertura (onClickNext)="next($event)" (onClickPrev)="prev($event)" (onInputChange)="updateApertura($event)"></apertura>
          </ng-template>
          <ng-template swiperSlide>
            <penetrabilidad (onClickNext)="next($event)" (onClickPrev)="prev($event)" (onInputChange)="updatePenetrabilidad($event)"></penetrabilidad>
          </ng-template>
          <ng-template swiperSlide>
              <medios (onClickNext)="next($event)" (onClickPrev)="prev($event)" (onInputChange)="updateMedios($event)"></medios>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>