<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-label position="stacked">{{'Presencia de viajes transitables para autobomba' | translate}}</ion-label>
      <ion-select cancelText="{{'Cancelar' | translate}}"  placeholder="{{'Seleccionar un valor' | translate}}" #presencia [value]="pesoPresencia"
        (ionChange)="updatePresencia(presencia.value)">
        <ion-select-option value="0">{{'NO' | translate}}</ion-select-option>
        <ion-select-option value="1">{{'Carretera con faja auxiliar' | translate}}</ion-select-option>
        <ion-select-option value="0.9">{{'Carretera sin faja auxiliar' | translate}}</ion-select-option>
        <ion-select-option value="0.8">{{'Camino principal con faja auxiliar' | translate}}</ion-select-option>
        <ion-select-option value="0.7">{{'Camino principal' | translate}}</ion-select-option>
        <ion-select-option value="0.6">{{'Pista forestal transitable con faja auxiliar' | translate}}
        </ion-select-option>
        <ion-select-option value="0.5">{{'Pista forestal transitable sin faja auxiliar' | translate}}
        </ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="12">
      <ion-label position="stacked">{{'Distancia al vial' | translate}} (m)</ion-label>
      <ion-select cancelText="{{'Cancelar' | translate}}"  placeholder="{{'Seleccionar un valor' | translate}}" #distancia [value]="pesoDistancia"
        (ionChange)="updateDistancia(distancia.value)">
        <ion-select-option value="10">&lt;100</ion-select-option>
        <ion-select-option value="9">100-200</ion-select-option>
        <ion-select-option value="8">200-300</ion-select-option>
        <ion-select-option value="5">300-500</ion-select-option>
        <ion-select-option value="3">>500</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar>
     <ion-button expand="block" (click)="next()" [disabled]="accesibilidad === undefined">
        <ion-icon slot="icon-only" name="caret-forward-circle-outline"></ion-icon>
      </ion-button>
      <resultados [tituloResultado]="'accesibilidad'" [resultado]="accesibilidad"></resultados>
  </ion-toolbar>
</ion-footer>