ion-thumbnail{
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.titulo-apartado {
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #f7f7d3;
    padding-left: 4px;
    border-color: white !important;
    box-shadow: 0px 15px 10px -15px #111;
  }

ion-label{
    white-space: normal !important;
    margin-top: 14px;
    font-weight: 500;
}