<ion-header>
  <ion-toolbar>
    <div id="img-header"></div>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6">
        <ion-item>
          <ion-label position="stacked">{{'tipoModelo' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #tipoModeloSelect [value]="tipoModeloSelected"
            (ionChange)="updateTipoModelo(tipoModeloSelect.value)">
            <ion-select-option value="behave">Behave</ion-select-option>
            <ion-select-option value="uco40">UCO40</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6">
        <ion-item>
          <ion-label position="stacked">{{'modelo' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #modelosSelect [value]="modeloSelected"
            (ionChange)="updateModelo(modelosSelect.value)" [disabled]="tipoModeloSelect.value === undefined">
            <ion-select-option *ngFor="let modelo of modelos" [value]="modelo">
              {{modelo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'pendiente' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #pendientesSelect [value]="pendienteSelected"
            (ionChange)="updatePendientes(pendientesSelect.value)">
            <ion-select-option *ngFor="let pendiente of pendientes" [value]="pendiente.pendiente">
              {{pendiente.pendiente}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'velocidadVientoLlama' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #velocidadVientoLlamaSelect
            [value]="velocidadVientoLlamaSuperficieSelected"
            (ionChange)="updateVelocidadVientoLlamaSuperficie(velocidadVientoLlamaSelect.value)">
            <ion-select-option *ngFor="let velocidad of variables.velocidadVientoLlama" [value]="velocidad">
              {{velocidad}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'velocidadViento10metros' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #velocidadViento10metrosSelect
            [value]="velocidadViento10metrosSelected"
            (ionChange)="updateVelocidadViento10metros(velocidadViento10metrosSelect.value)">
            <ion-select-option *ngFor="let velocidad of variables.velocidadViento" [value]="velocidad.value" [disabled]="velocidad.disabled">
              {{velocidad.value}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'isProbabilidadFuegoCopas' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #probabilidadFuegoCopasSelect
            [value]="probabilidadFuegoCopasSelected"
            (ionChange)="updateProbabilidadFuegoCopas(probabilidadFuegoCopasSelect.value)">
            <ion-select-option value="si">{{'SI' | translate}}</ion-select-option>
            <ion-select-option value="no">{{'NO' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'especie' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #especieSelect [value]="especieSelected"
            (ionChange)="updateEspecie(especieSelect.value)" [disabled]="hayCopas()">
            <ion-select-option *ngFor="let especie of variables.especies" [value]="especie">
              {{especie}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'densidadPies' | translate}}</ion-label>
          <ion-input type="number" #densidadPiesSelect (keypress)="numberOnlyValidation($event)"
            (ionInput)="updateDensidadPies(densidadPiesSelect.value)" [disabled]="hayCopas()"
            [(ngModel)]="densidadPiesSelected">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'fraccionCopaCubierta' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #franccionCopaSelect [disabled]="hayCopas()"
            [value]="fraccionCopaCubiertaSelected" (ionChange)="updateFraccionCopa(franccionCopaSelect.value)">
            <ion-select-option *ngFor="let fraccion of variables.fraccionCopa" [value]="fraccion">
              {{fraccion}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'longitudCopa' | translate}}</ion-label>
          <ion-input type="number" #longitudCopaInput (keypress)="numberOnlyValidation($event)"
            (ionInput)="updateLongitudCopa(longitudCopaInput.value)" [(ngModel)]="longitudCopaSelected"
            [disabled]="hayCopas()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'isProbabilidadFuegoEruptivo' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #probabilidadFuegoEruptivoSelect
            [value]="probabilidadFuegoEruptivoSelected"
            (ionChange)="updateProbabilidadFuegoEruptivo(probabilidadFuegoEruptivoSelect.value)">
            <ion-select-option value="si">{{'SI' | translate}}</ion-select-option>
            <ion-select-option value="no">{{'NO' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'aberturaLaderas' | translate}}</ion-label>
          <ion-input type="number" #aberturaLaderasInput (keypress)="numberOnlyValidation($event)" [disabled]="hayEruptivo()"
            (ionInput)="updateAberturaLaderas(aberturaLaderasInput.value)" [(ngModel)]="aberturaLaderasSelected">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'pendienteCauce' | translate}}</ion-label>
          <ion-input type="number" #pendienteCauceInput (keypress)="numberOnlyValidation($event)" [disabled]="hayEruptivo()"
            (ionInput)="updatePendienteCauce(pendienteCauceInput.value)" [(ngModel)]="pendienteCauceSelected">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'exposicion' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #exposicionesSelect [value]="exposicionSelected"
            (ionChange)="updateExposicion(exposicionesSelect.value)">
            <ion-select-option *ngFor="let exposicion of variables.exposiciones" [value]="exposicion.peso">
              {{exposicion.valor}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="6" sizeMd="12" sizeSm="6" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'diametroTronco' | translate}} </ion-label>
          <ion-input type="number" #diametroTroncoInput (keypress)="numberOnlyValidation($event)"
            (ionInput)="updateDiametroTronco(diametroTroncoInput.value)" [(ngModel)]="diametroTroncoSelected">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'humedadFinoMuerto' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #humedadSelected [value]="humedadFinoMuertoSelected"
            (ionChange)="updateHumedadFinoMuerto(humedadSelected.value)">
            <ion-select-option *ngFor="let humedad of variables.humedadFinoMuerto" [value]="humedad">
              {{humedad}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>